
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Nandigam Charan
	email = 57171014+NandigamCharan@users.noreply.github.com
[color]
	ui = auto

